---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Febrero 2021 - Presente",
    title: "Estudiante de Ingeniería de Sistemas",
    company: "Universidad Adventista de Bolivia",
    description:
      "Formación en arquitectura de software, bases de datos y desarrollo de sistemas. Participación en proyectos académicos orientados a sistemas empresariales. Desarrollo de aplicaciones con Angular, TypeScript, .NET y principios de Clean Architecture.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
