---
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <a
      href="mailto:adriazolaanthony@gmail.com"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Anthony Adriazola
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Estudiante de <strong>Ingeniería de Sistemas</strong> en Bolivia 🇧🇴.
    Creo aplicaciones de alto rendimiento con arquitectura organizada.
    Experiencia en <strong>Angular, TypeScript, .NET y Clean Architecture</strong>.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:adriazolaanthony@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://github.com/">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
